force-app/main/default/flows/Amount_1_crore_and_opportunity_team_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>opportunity amount equals 1 crore</description>
        <name>Copy_1_of_Opportunity_greater_than_or_equals_1_crore</name>
        <label>Copy 1 of Opportunity greater than or equals 1 crore</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Opportunity.Opportunity_Amount_Exceeded_1_Cr</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>opportunity amount equals 1 crore</description>
        <name>Opportunity_greater_than_or_equals_1_crore</name>
        <label>Opportunity greater than or equals 1 crore</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Opportunity_Amount_Exceeded_1_Cr</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>If opportunity amount equals 1 crore</description>
        <name>Amount_Equals_1_crore</name>
        <label>Amount Equals 1 crore</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Amount_Equals_1_Crore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_greater_than_or_equals_1_crore</targetReference>
            </connector>
            <label>Opportunity Amount Equals 1 Crore</label>
        </rules>
        <rules>
            <name>Opportunity_Amount_Equals_10_Crore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Username_Id</targetReference>
            </connector>
            <label>Opportunity Amount Equals 10 Crore</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Amount 1 crore and opportunity team creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amount 1 crore and opportunity team creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>if opportunity amount exceeds 10 crore then opportunity team will be created</description>
        <name>Opportunity_team_creation</name>
        <label>Opportunity team creation</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Copy_1_of_Opportunity_greater_than_or_equals_1_crore</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Sales Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Username_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Here username Id is fetched</description>
        <name>Get_Username_Id</name>
        <label>Get Username Id</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_team_creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054x000005nwNaAAI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Amount_Equals_1_crore</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProfileNameSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>MZ Employee Profile</stringValue>
        </value>
    </variables>
    <variables>
        <name>userprofile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
