force-app/main/default/flows/AutoRemainders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Task_Reminder_3_Days_Remaining</name>
        <label>Task Reminder - 3 Days Remaining</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>Task.Task_Reminder_3_Days_Remaining</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedRemainder</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!$Record.ActivityDate}-6)</expression>
    </formulas>
    <interviewLabel>AutoRemainders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoRemainders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Reminder</name>
        <label>Set Reminder</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>CalculatedRemainder</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Send_Email</name>
            <connector>
                <targetReference>Task_Reminder_3_Days_Remaining</targetReference>
            </connector>
            <label>Send Email</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ReminderDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
