force-app/main/default/flows/Create_a_opportunity_contact_role_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Failed_to_create_a_contact_role_record</name>
        <label>Failed to create a contact role record</label>
        <locationX>440</locationX>
        <locationY>1031</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>add_single_record_in_list</name>
        <label>add single record in list</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityContactRoleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityContactRoleSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_throudh_all_the_contact_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_opportunity_contact_role</name>
        <label>Prepare opportunity contact role</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityContactRoleSingleRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_throudh_all_the_contact_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRoleSingleRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRoleSingleRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_single_record_in_list</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create a opportunity contact role record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a opportunity contact role record</label>
    <loops>
        <name>loop_throudh_all_the_contact_records</name>
        <label>loop throudh all the contact records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>SOQL_contact_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_opportunity_contact_role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_opportunity_contact_role_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_opportunity_contact_role_record</name>
        <label>create opportunity contact role record</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <faultConnector>
            <targetReference>Failed_to_create_a_contact_role_record</targetReference>
        </faultConnector>
        <inputReference>varOpportunityContactRoleList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SOQL_contact_records</name>
        <label>SOQL contact records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_throudh_all_the_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SOQL_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_role_needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityContactRoleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varOpportunityContactRoleSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
