force-app/main/default/flows/Lead_Score_And_Rating_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Create_a_Task_Depends_on_Rating</name>
        <label>Copy 1 of Copy 1 of Create a Task Depends on Rating</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Complete Follow up within 21 days </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>NextDueDateForCOLD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Create_a_Task_Depends_on_Rating</name>
        <label>Copy 1 of Create a Task Depends on Rating</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Complete Follow up within 14 days </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>NextDueDateForWarm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Task_Depends_on_Rating</name>
        <label>Create a Task Depends on Rating</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Complete Follow up within 7 days </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>NextDueDateForHOT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>if total lead score is equal to greater than 20  then rating &apos;HOT&apos;</description>
        <name>Lead_Score_Ratings</name>
        <label>Lead Score Ratings</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Score_Equal_to_or_greater_than_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Rating_as_Hot</targetReference>
            </connector>
            <label>Lead Score Equal to or greater than 20</label>
        </rules>
        <rules>
            <name>Lead_Score_Greater_to_Equals_to10_or_19</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>19.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Rating_As_Warm</targetReference>
            </connector>
            <label>Lead Score Greater to Equals to10 or 19</label>
        </rules>
        <rules>
            <name>Lead_Score_Equals_1_To_9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Score_As_Cold</targetReference>
            </connector>
            <label>Lead Score Equals 1 To 9</label>
        </rules>
        <rules>
            <name>Lead_Score_Equals_To_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Score_Blank</targetReference>
            </connector>
            <label>Lead Score Equals To 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextDueDateForCOLD</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 21</expression>
    </formulas>
    <formulas>
        <name>NextDueDateForHOT</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <name>NextDueDateForWarm</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <interviewLabel>Lead Score And Rating Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Score And Rating Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Lead_Rating_as_Hot</name>
        <label>Lead Rating as Hot</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_a_Task_Depends_on_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Lead_Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Rating_As_Warm</name>
        <label>Lead Rating As Warm</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_a_Task_Depends_on_Rating</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_Lead_Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Lead_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Score_As_Cold</name>
        <label>Lead Score As Cold</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Create_a_Task_Depends_on_Rating</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_Lead_Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Lead_Score__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Score_Blank</name>
        <label>Lead Score Blank</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Lead_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Score_Ratings</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
