force-app/main/default/flows/New_Lead_History_When_Lead_Converted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>create_new_instance_of_custom_lead_history</name>
        <label>create new instance of custom lead history</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>customHistory.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Lead_History.Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customHistory.NewValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Lead_History.NewvalString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customHistory.OldValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Lead_History.OldvalString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customHistory.History_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Lead_History.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customHistory.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLead.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>prepare_list_of_custom_history</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prepare_list_of_custom_history</name>
        <label>prepare list of custom history</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>lstCustomHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Lead_History</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>New Lead History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Lead History When Lead Converted</label>
    <loops>
        <name>Each_Lead_History</name>
        <label>Each Lead History</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>lstLeadHistory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_new_instance_of_custom_lead_history</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Custom_History</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Custom_History</name>
        <label>Create Custom History</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>lstCustomHistory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_History</name>
        <label>Get Lead History</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Lead_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadSource</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objLead.Id</elementReference>
            </value>
        </filters>
        <object>LeadHistory</object>
        <outputReference>lstLeadHistory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NewvalString</queriedFields>
        <queriedFields>OldvalString</queriedFields>
        <queriedFields>Field</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>customHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadHistory__c</objectType>
    </variables>
    <variables>
        <name>leadHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadHistory</objectType>
    </variables>
    <variables>
        <name>lstCustomHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadHistory__c</objectType>
    </variables>
    <variables>
        <name>lstLeadHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadHistory</objectType>
    </variables>
    <variables>
        <name>objLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
